juntagrico
juntagrico-billing
gunicorn
psycopg2-binary # msch
django-mail-queue
django-oauth-toolkit
pycryptodomex	# fix version of this oidc-provider dependency
django-oidc-provider
whitenoise
dj-database-url
django-storages
django-admin-sortable2
boto3
reportlab
