juntagrico==1.5.0
git+https://github.com/juntagrico/juntagrico-billing.git@72dc5398a2a7da464ed4fe088719f13c7f1bdc3f

gunicorn==20.0.4
# psycopg2==2.8.4
psycopg2-binary # msch
#django==3.1.5 # TODO full versions here, upgrade?
django-mail-queue==3.2.6
django==4.0.2
django-oidc-provider==0.8.3
whitenoise==5.2.0
dj-database-url==0.5.0
django-storages>=1.1.8
django-admin-sortable2>=0.7.8
boto3>=1.16.0
reportlab==3.6.6  # newer versions seem to lack getStringIO?
