{% load i18n %}
{% load juntagrico.common %}
{% load juntagrico.config %}
{% show_job_extras as b_show_job_extras %}
<table id="filter-table" class="list table" style="width: 100%;">
    <thead>
        <tr>
            <th class="align-top">
            </th>
            <th class="align-top table-search job-name">
                {% trans "Datum" %}
            </th>
            <th class="align-top table-search job-name">
                {% trans "Job" %}
            </th>
            <th class="align-top">
                {% trans "Rüebli" %}
            </th>
            <th class="align-top">
                {% trans "Status" %}
            </th>
            {% if b_show_job_extras %}
                <th class="align-top">
                    {% trans "Extras" %}
                </th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for job in jobs %}
            <tr>
                <td>
                    <label class="details-control" for="handle_{{job.id}}">&nbsp;</label>
                </td>
                <td>
                    {{ job.weekday_name }}&nbsp;{{ job.time |date:"d." }}{{ job.time |date:"m." }}{{ job.time |date:"Y" }}
                </td>
                <td>
                    <a href="{% url 'job' job.id %}" class="{{ job.get_css_classes }}">
                        {{ job.type.get_name }}
                    </a>
                </td>
                <td style="white-space: nowrap;">
                    {{ job.multiplier|floatformat }} x
                    <img title="Einsatz zählt {{ job.multiplier }}-fach" src="{% images "job_multiplier" %}"/>
                </td>
                <td>
                    {% with occupied=job.occupied_slots free=job.free_slots total=job.slots %}

                    {% with ''|center:occupied as range %}
                    {% for _ in range %}
                        <img title="{{ occupied }} von {{ total }} gebucht" src="{% images "job_occupied" %}"/>
                    {% endfor %}
                    {% endwith %}

                    {% with ''|center:free as range %}
                    {% for _ in range %}
                        <img title="{{ occupied }} von {{ total }} gebucht" src="{% images "job_free" %}"/>
                    {% endfor %}
                    {% endwith %}

                    {% endwith %}
                </td>
                {% if b_show_job_extras %}
                    <td>
                        {{ job.extras|safe }}
                    </td>
                {% endif %}
            </tr>
            <tr class="collapsible_content">
                <td></td>
                <td></td>
                <td>
                    <input type="checkbox" name="collapsible_control" id="handle_{{job.id}}">
                    <p><b>Ort:</b> {{ job.type.location }}</p>
                    <p><b>Zeit:</b> {{ job.time |date:'H:i' }} - {{ job.end_time |date:'H:i' }}</p>
                    <p><b>Beschreibung:</b> {{ job.type.description|safe }}</p>
                </td>
                <td></td>
                <td></td>
                <td></td>
                {% if b_show_job_extras %}
                    <td></td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>
